#header {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}
.main-title {
    font-family: var(--font-sans);
    font-size: 36px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 42px;
    margin-top: 9.5%;
    /*margin-left: 5%;*/
}

.main-title span {
    text-decoration: line-through;
}


.header-text {
    margin-top: 5%;
    /*margin-left: 5%;*/
    font-family: var(--font-mono);
    font-size: 14px;
    line-height: 22px;
}
.header-text-lg {
    display: none;
}


.main-button {
    position: relative;
    background: #00F3BB;
    width: 288px;
    height: 48px;
    margin-top: 5%;
    margin-left: 14%;
    font-family: var(--font-mono);
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;

}

@media (min-width:900px) {
    br {
        display: none;
    }

    .main-title {
        font-size: 64px;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 42px;
        margin-top: 9.5%;
        margin-left: 13.9%;
    }
    .header-text {
        display: none;
    }
    .header-text-lg{
        display: inline-block;
        margin-top: 2%;
        margin-left: 13.9%;
        width: 43.6%;
        height: 1.2%;
        font-family: var(--font-mono);
        letter-spacing: 0;
        font-size: 16px;
        line-height: 24px;
    }
    .main-button-content  {
        background: #00F3BB;
        width: 226px;
        height: 56px;
        margin-top: 3%;
        margin-left: 13.9%;
        font-family: var(--font-mono);
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
    }
}