#news {
    position: relative;
    height: 340px;
    margin-top: 23%;
}

.news-bg {
    position: absolute;
    width: 100%;
    height: 110%;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    transform: skew(0, -4deg);
    z-index: inherit;
}

.news-title-bt-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 15%;
    z-index: inherit;
}

.news-title {
    position: relative;
    font-family: var(--font-sans);
    font-size: 36px;
    font-weight: 200;
    line-height: 42px;
    letter-spacing: 0;
    color: #FFFFFF;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    z-index: inherit;
}

.news-button {
    position: relative;
    display: block;
    width: 288px;
    height: 48px;
    background: #00F3BB;
    font-family: var(--font-mono);
    font-weight: 600;
}

@media (min-width: 900px) {
    #news {
        height: 420px;
    }
    .news-title-bt-container{
        margin-top: 0;
        position: relative;
    }

    .news-title{
        margin-top: 8%;
        font-size: 48px;
        line-height: 62px;
    }

    .news-button{
        margin-top: 2%;
    }
    .news-bg {
        display: block;
        position: absolute;
        transform: skew(0, -4deg);
        height: 112%;
        overflow: hidden;
    }
}